[MASTER]
jobs=0
good-names=db,id,f

[MESSAGES CONTROL]
disable=missing-docstring,too-few-public-methods

[REPORTS]
output-format=colorized

[FORMAT]
expected-line-ending-format=LF
max-line-length=125

[DESIGN]
max-args=10

[TYPECHECK]
generated-members=cherrypy.session
