[Unit]
  Description = Automation Service
  After = network.target

[Service]
  User = user
  Group = user
  WorkingDirectory = /opt/vtl/automation
  Environment = 'LOG_FILE=web.log'
  ExecStart = /opt/vtl/automation/venv/bin/python /opt/vtl/automation/main.py
  Restart = always

[Install]
  WantedBy = multi-user.target
