[Unit]
  Description = Rule Scheduler Service
  After = network.target

[Service]
  User = root
  Group = root
  WorkingDirectory = /opt/vtl/automation
  Environment = 'LOG_FILE=rule_scheduler.log'
  ExecStart = '/usr/bin/env python3 /opt/vtl/automation/rule_scheduler.py'
  Restart = always

[Install]
  WantedBy = multi-user.target
