{% set active_tab = 'users' %}
{% extends 'templates/wrapper.html' %}
{% block body %}
<div class="ui container">
    {% include "templates/menu.html" %}
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="eight wide column">
                    <h2 class="ui header">Користувачі</h2>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <table class="ui celled striped table">
                        <thead>
                            <tr>
                                <th class="collapsing">Логін</th>
                                <th>Ім'я</th>
                                <th>Роль</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.login }}</td>
                                <td>{{ user.name }}</td>
                                <td>
                                    {% if showForm %}
                                        <form class="ui form" action="/users/update" method="post">
                                            <input hidden name="login" value="{{ user.login }}" />
                                            <div class="field">
                                                <select class="ui fluid dropdown" onchange="this.form.submit()" name="role">
                                                    <option value="0" {{ 'selected' if user.role.value == 0 else '' }}>
                                                        COMMON
                                                    </option>
                                                    <option value="1" {{ 'selected' if user.role.value == 1 else '' }}>
                                                        MODERATOR
                                                    </option>
                                                    <option value="2" {{ 'selected' if user.role.value == 2 else '' }}>
                                                        ADMIN
                                                    </option>
                                                </select>
                                            </div>
                                        </form>
                                    {% else %}
                                        {{ user.role.name }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
