<form class="ui form" method="post" action="{{ '/rules/update?rule_id=' ~ rule.id if rule is defined else '/rules/create' }}">
    <div class="field">
        <label>Назва</label>
        <input type="text" name="name" value="{{rule.name if rule is defined and rule.name}}" required>
    </div>
    <div class="field">
        <label>Опис</label>
        <input type="text" name="description" value="{{rule.description if rule is defined and rule.description}}" required>
    </div>
    <div class="field">
        <label>Пристрій</label>
        <select class="ui fluid dropdown" name="device_id" required>
            <option value=""></option>
            {% for dev in devices %}
                <option {{ 'selected' if rule is defined and rule.device_id == dev.id }} value="{{dev.id}}">{{dev.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        <label>Час початку</label>
        <input type="text" name="start_time" value="{{rule.get_start_time() if rule is defined and rule.start_time}}" required>
    </div>
    <div class="field">
        <label>Протяжність</label>
        <input type="text" name="duration" value="{{rule.get_duration() if rule is defined and rule.duration}}" required>
    </div>
    <div class="inline fields">
        <label>Дні тижня</label>
        {% for day in DayOfWeek %}
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="days_of_week" value="{{day.value}}" tabindex="0" class="hidden"
                        {{ 'checked' if rule is defined and day in rule.days_of_week }}>
                    <label>{{day.to_ukrainian()}}</label>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="ui button" type="submit">Зберегти</button>
</form>
