{% set active_tab = 'rules' %}
{% extends 'templates/wrapper.html' %}
{% block body %}
<div class="ui container">
    {% include "templates/menu.html" %}
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="eight wide column">
                    <h2 class="ui header">Правила</h2>
                </div>
                {% if isModerator %}
                <div class="right aligned eight wide column">
                    <a href="/rules/new" class="ui green button icon">
                        <i aria-hidden="true" class="calendar plus outline icon"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="column">
                    <table class="ui celled striped table">
                        <thead>
                            <tr>
                                <th class="collapsing">#</th>
                                <th>Назва</th>
                                <th>Опис</th>
                                <th>Пристрій</th>
                                <th>Початок</th>
                                <th>Протяжність</th>
                                <th>Кінець</th>
                                {% for day in DayOfWeek %}
                                    <th><span class="vertical-text">{{day.to_ukrainian()}}</span></th>
                                {% endfor %}
                                <th class="collapsing"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for rule in rules %}
                            <tr>
                                <td>{{ rule.id }}</td>
                                <td>{{ rule.name }}</td>
                                <td>{{ rule.description }}</td>
                                <td>{{ rule.get_device().name }}</td>
                                <td>{{ rule.get_start_time() }}</td>
                                <td>{{ rule.get_duration() }}</td>
                                <td>{{ rule.get_end_time() }}</td>
                                {% for day in DayOfWeek %}
                                    <td class="center aligned">
                                        <i class="{{ 'check' if day in rule.days_of_week }} square outline icon"></i>
                                    </td>
                                {% endfor %}
                                <td>
                                    {% if isModerator %}
                                    <div class="ui buttons small">
                                        <a href="/rules/edit?rule_id={{ rule.id }}" class="ui yellow button icon">
                                            <i aria-hidden="true" class="edit icon"></i>
                                        </a>
                                        <a href="/rules/destroy?rule_id={{ rule.id }}" class="ui red button icon">
                                            <i aria-hidden="true" class="trash alternate outline icon"></i>
                                        </a>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
