{% extends 'www/templates/wrapper.html' %}
{% block body %}
<div class="ui container">
    {% include "www/templates/menu.html" %}
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <form class="ui form" method="post" action="/rules/post_new">
                        <div class="field">
                            <label>Назва</label>
                            <input type="text" name="name">
                        </div>
                        <div class="field">
                            <label>Опис</label>
                            <input type="text" name="description">
                        </div>
                        <div class="field">
                            <label>Пристрій</label>
                            <input type="text" name="device_id">
                        </div>
                        <div class="field">
                            <label>Час початку</label>
                            <input type="text" name="start_time">
                        </div>
                        <div class="field">
                            <label>Протяжність</label>
                            <input type="text" name="duration">
                        </div>
                        <button class="ui button" type="submit">Створити</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
