<form class="ui form" method="post" action="{{ '/devices/update?device_id=' ~ device.id if device is defined else '/devices/create' }}">
    <div class="field">
        <label>Назва</label>
        <input type="text" name="name" value="{{device.name if device is defined and device.name}}" required>
    </div>
    <div class="field">
        <label>Опис</label>
        <input type="text" name="description" value="{{device.description if device is defined and device.description}}" required>
    </div>
    <div class="field">
        <label>Тип</label>
        <select class="ui fluid dropdown" name="kind" required>
            <option value="">Тип</option>
            <option {{ 'selected' if device is defined and device.type.value == 1 }} value="GPIO_LOW_LEVEL">GPIOLowLevel</option>
            <option {{ 'selected' if device is defined and device.type.value == 2 }} value="GPIO_HIGH_LEVEL">GPIOHighLevel</option>
            <option {{ 'selected' if device is defined and device.type.value == 3 }} value="AUDIO">AUDIO</option>
        </select>
    </div>
    <div class="field">
        <label>Параметри</label>
        <input type="text" name="options" value="{{device.options if device is defined and device.options}}">
    </div>
    <div class="field">
        <label>Залежний пристрій</label>
        <select class="ui fluid dropdown" name="dependent_device_id">
            <option value="">-</option>
            {% for dev in devices %}
                <option {{ 'selected' if device is defined and device.dependent_device_id == dev.id }} value="{{ dev.id }}">{{ dev.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        <label>Випередження запуску залежного пристрою, секунди</label>
        <input type="number" name="dependent_start_delay" value="{{device.dependent_start_delay if device is defined and device.dependent_start_delay}}">
    </div>
    <div class="field">
        <label>Затримка зупинки залежного пристрою, секунди</label>
        <input type="number" name="dependent_stop_delay" value="{{device.dependent_stop_delay if device is defined and device.dependent_stop_delay}}">
    </div>
    <div class="inline field">
        <div class="ui checkbox">
            <input type="checkbox" name="disabled" value="1" tabindex="0" class="hidden"
                {{ 'checked' if device is defined and device.disabled }}>
            <label>Вимкнено</label>
        </div>
    </div>
    <button class="ui button" type="submit">Зберегти</button>
</form>
