{% set active_tab = 'devices' %}
{% extends 'templates/wrapper.html' %}
{% block body %}
<div class="ui container">
    {% include "templates/menu.html" %}
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="eight wide column">
                    <h2 class="ui header">Пристрої</h2>
                </div>
                {% if isAdmin %}
                <div class="right aligned eight wide column">
                    <a href="/devices/new" class="ui green button icon">
                        <i aria-hidden="true" class="calendar plus outline icon"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="column">
                    <table class="ui celled striped table">
                        <thead>
                            <tr>
                                <th class="collapsing">#</th>
                                <th>Назва</th>
                                <th>Опис</th>
                                <th>Тип</th>
                                <th>Параметри</th>
                                {% if isAdmin %}
                                <th class="collapsing"></th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for dev in devices %}
                            <tr class="{{ 'error' if dev.disabled }}">
                                <td>{{ dev.id }}</td>
                                <td>{{ dev.name }}</td>
                                <td>{{ dev.description }}</td>
                                <td>{{ dev.type.name }}</td>
                                <td>{{ dev.options }}</td>
                                {% if isAdmin %}
                                    <td>
                                        <div class="ui buttons small">
                                            <a href="/devices/edit?device_id={{ dev.id }}" class="ui yellow button icon">
                                                <i aria-hidden="true" class="edit icon"></i>
                                            </a>
                                            {% if dev.rules_exist %}
                                                <div class="ui disabled red button icon" data-tooltip="Неможливо видалити пристрій, який використовується в правилах">
                                                    <i aria-hidden="true" class="trash alternate outline icon"></i>
                                                </div>
                                            {% else %}
                                                <a href="/devices/destroy?device_id={{ dev.id }}" class="ui red button icon">
                                                    <i aria-hidden="true" class="trash alternate outline icon"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
