{% extends 'templates/wrapper.html' %}
{% block body %}
<div class="ui container">
    {% include "templates/menu.html" %}
    <div class="ui segment">
        <div class="ui grid">
            <div class="row">
                <div class="column">
                    <h2 class="ui header">Створення пристрою</h2>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    {% include "devices/form.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
