{% set active_tab = 'rule_scheduler' %}
{% extends 'templates/wrapper.html' %}
{% block body %}
<div class="ui container">
    {% include "templates/menu.html" %}
    <div class="ui top attached {{ color }} segment">
        <h2 class="ui header">Rule Scheduler</h2>
        <p>State: {{ state }}</p>
        <p>PID: {{ pid }}</p>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui fluid buttons">
            {% for action in actions %}
                <a class="ui button" href="/rule_scheduler/perform?action={{ action }}">{{ action }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="ui segment">
        <h2 class="ui header">Стан виконання правил</h2>
        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Правило</th>
                    <th>Пристрій</th>
                    <th>Параметри запуску</th>
                    <th>Час запуску</th>
                    <th>Час зупинки</th>
                </tr>
            </thead>
            <tbody>
                {% if rule_states is defined and rule_states|length > 0 %}
                    {% for rule_state_entry in rule_states %}
                        <tr class="{{ rule_state_entry.status_css_class }}">
                            <td>{{ rule_state_entry.rule_name }}</td>
                            <td>{{ rule_state_entry.device_name }}</td>
                            <td>{{ rule_state_entry.run_options }}</td>
                            <td>{{ rule_state_entry.formatted_start_time }}</td>
                            <td>{{ rule_state_entry.formatted_stop_time }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="5" class="center aligned">Немає записів</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
