{% extends 'www/templates/wrapper.html' %}
{% block body %}
<div class="ui container">
        <div class="ui pointing menu">
            <a class="item">Правила</a>
            <a class="active item">Пристрої</a>
            <a class="item">Користувачі</a>
            <div class="right menu">
                <div class="item">
                    <a class="ui blue button icon" href="/auth/logout"><i aria-hidden="true" class="log out icon"></i></a>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui grid">
                <div class="row">
                    <div class="eight wide column">
                        <h2 class="ui header">Header Groups</h2>
                    </div>
                    <div class="right aligned eight wide column">
                        <button class="ui green button icon"><i aria-hidden="true"
                                class="calendar plus outline icon"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        <table class="ui celled striped table">
                            <thead>
                                <tr>
                                    <th class="collapsing">#</th>
                                    <th>Назва</th>
                                    <th>Опис</th>
                                    <th>Тип</th>
                                    <th>Параметри</th>
                                    <th class="collapsing"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>
                                        <div class="ui buttons small">
                                            <button class="ui yellow button icon"><i aria-hidden="true"
                                                    class="edit icon"></i></button>
                                            <button class="ui red button icon"><i aria-hidden="true"
                                                    class="trash alternate outline icon"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>
                                        <div class="ui buttons small">
                                            <button class="ui red button icon"><i aria-hidden="true"
                                                    class="trash alternate outline icon"></i></button>
                                            <button class="ui yellow button icon"><i aria-hidden="true"
                                                    class="edit icon"></i></button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>
                                        <div class="ui buttons small">
                                            <button class="ui yellow button icon"><i aria-hidden="true"
                                                    class="edit icon"></i></button>
                                            <button class="ui red button icon"><i aria-hidden="true"
                                                    class="trash alternate outline icon"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
